# gitignore

# numerous always-ignore extensions
*~
*.diff
*.orig
*.log
*.swp
*.zip
*.csv
*.dat
*.gz
*.map

# OS or Editor folders
.DS_Store
>_*
Thumbs.db
.cache
.AppleDouble

# Folders to ignore
.hg
.svn
.ssh
.grunt
.sass-cache
.vagrant
node_modules
components
bower_compornents
logs

# ignore dev files
bk
